@model ASP_SPR311.Models.Admin.AdminIndexViewModel

<div class="text-center">
    <h1 class="display-4">Сторінка адміністратора</h1>
</div>

<div class="row">
    <div class="col">
        <h2>Категорії</h2>
        <form id="admin-category-form" enctype="multipart/form-data">
            Назва: <input name="category-name"/><br/>
            Опис: <textarea name="category-description"></textarea><br />
            Адреса: <input name="category-slug" /><br />
            Картинка:<input name="category-image" type="file"/><br />
            <button type="submit">Додати</button>
        </form>
    </div>
    <div class="col">
        <h2>Товари</h2>
        <form id="admin-product-form" enctype="multipart/form-data">
            Назва: <input name="product-name" /><br />
            Опис: <textarea name="product-description"></textarea><br />
            Артикул/штрихкод: <input name="product-slug" /><br />
            Картинки:<input name="product-image" type="file" multiple /><br />
            Ціна: <input name="product-price" type="number" step="0.01"/><br />
            Кількість: <input name="product-stock" type="number" step="1" /><br />
            Категорія: <select name="category-id">
                @foreach(var c in Model.Categories)
                {
                    <option value="@c.Id">@c.Name</option>
                }
            </select>
            <button type="submit">Додати</button>
        </form>
    </div>
</div>
