<div class="text-center">
    <h1 class="display-4">Сторінка адміністратора</h1>
</div>

<div class="row">
    <div class="col">
        <h2>Категорії</h2>
        <form id="admin-category-form" enctype="multipart/form-data">
            Назва: <input name="category-name"/><br/>
            Опис: <textarea name="category-description"></textarea><br />
            Адреса: <input name="category-slug" /><br />
            Картинка:<input name="category-image" type="file"/><br />
            <button type="submit">Додати</button>
        </form>
    </div>
    <div class="col">
        <h2>Товари</h2>
    </div>
</div>
