@model ASP_SPR311.Models.Shop.ShopCartViewModel

@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h1 class="display-4">Мій кошик</h1>
</div>

@if(Model.Cart == null)
{
    <h2>У вас немає активного кошику</h2>
}
else
{
    @foreach(var item in Model.Cart.CartItems)
    {
        @Html.DisplayFor(m => item, "CartItem")
    }
    <hr/>
    <div class="row">
        <div class="col offset-4 col-1">Разом</div>
        <div class="col col-1">2</div>
        <div class="col col-1">@Model.Cart.Price.ToString("0.00")</div>
    </div>
}
